{% extends 'create-update.html'%}



{% block title%} enseignant {% endblock%}

{% block content%}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">creer user</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">creer user</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">

                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form  method="post"  class="form-horizontal form-material">
                                	 {% csrf_token %}

                                  <div class="form-group">
                                    <label class="col-md-12">username</label>
                                    <div class="col-md-12">
                                      {{form.username}}
                                    </div>
                                  </div>


                                 <div class="form-group">
                                    <label class="col-md-12">Filiere</label>
                                    <div class="col-md-12">
                                      {{enseignant_form.filiere}}
                                    </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-12">le mot de pass</label>
                                  <div class="col-md-12">
                                    {{form.password1}}
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-12">confirmer le mot de pass</label>
                                  <div class="col-md-12">
                                    {{form.password2}}
                                  </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button  type="submit" class="btn btn-success">creer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
    </div>
    {% endblock %}
