{% extends 'admin-template.html'%}



{% block title%} Filieres {% endblock%}

{% block content%}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row bg-title">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title">filiere</h4>
                        </div>
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                            <ol class="breadcrumb">
                                <li><a href="#">Tableau de bord</a></li>
                                <li class="active">filiere</li>
                            </ol>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>


       <div class="row">
                             <!-- Data Table area Start-->

         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                          <div class="basic-tb-hd">

                          <a href="{% url 'create_filiere' %}" class="btn btn-success"> Creer filiere</a>
                          </div>

                            <div class="table-responsive">
                                <table id="data-table-basic" class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th>Nome de filiere</th>
                                            <th>responsable</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                      {%for item in filiere %}
                                        <tr>

                                              <td> {{item.nom_filiere}}</td>
                                              <td> {{item.responsable}}</td>
                                              <td>
                                                <a href="{% url 'update_filiere' item.id %}"> <i class="fas fa-edit"></i> </a>
                                                <a class="text-danger" href="{% url 'delete_filiere' item.id %}"> <i class="fas fa-trash-alt"></i> </a>
                                              </td>



                                        </tr>
                                      {% endfor %}
                                    </tbody>

                                               <tfoot>
                                                 <tr>

                                                   <th>Nome de filiere</th>
                                                   <th>responsable</th>
                                                   <th></th>

                                                 </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

        <!-- Data Table area End-->
       </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- ============================================================== -->
            {% endblock %}
