{% extends 'admin-template.html' %}
{% block title%}ressource{% endblock%}
{% block content%}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">ressource</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                        <ol class="breadcrumb">
                            <li><a href="#">Tableau de board</a></li>
                            <li class="active">ressource</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>


   <div class="row">
                         <!-- Data Table area Start-->
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">

                            <a href="{% url 'create_ressource' classee.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ajouter ressource </a>

                            <div class="basic-tb-hd" style="text-align:center;">
                            <form class="form" method="post" name="myform">
                              {% csrf_token %}
                              <select class="form-select" aria-label="Default select example" name="cls" onchange="submitform();" >
                                <option selected> choisissez la classe</option>
                                {% for item in classe %}
                                <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>

                            </form>

          <br>

                            la classe : <span style='color:blue'>{{classee}}</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>le fichier</th>
                                        <th>la description</th>
                                        <th>la matiere</th>
                                        <th>la classe</th>
                                        <th>la filiere</th>
                                        <th>l'enseignant</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                   {%for item in ressource %}
                                    <tr>
                                        <td><object data="{{item.rc_fichier.url }}" type="application/pdf" width="300" height="200">
                                            <a href="{{item.rc_fichier.url }}">{{item.rc_fichier}}</a>
                                              </object>  </td>
                                            <td>{{item.rc_desc}}</td>
                                          <td>{{item.matiere}}</td>
                                          <td>{{item.classe}}</td>
                                          <td>{{item.filiere}}</td>
                                          <td>{{item.enseignant}}</td>

                                          <td>
                                            <a href="{% url 'update_ressource' classee.id item.id %}"> <i class="fas fa-edit"></i> </a>
                                            <a class="text-danger" href="{% url 'delete_ressource'  item.id %}"> <i class="fas fa-trash-alt"></i> </a>
                                          </td>


                                    </tr>
                                 {% endfor %}
                                </tbody>
                                           <tfoot>
                                    <tr>
                                      <th>le fichier</th>
                                      <th>la description</th>
                                      <th>la matiere</th>
                                      <th>la classe</th>
                                      <th>la filiere</th>
                                      <th>l'enseignant</th>
                                      <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
    <!-- Data Table area End-->
   </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            <script type="text/javascript">
            function submitform()
            {
              document.myform.submit();
            }

            </script>


        </div>
        {% endblock %}
