
{% extends 'create-update.html'%}



{% block title%} importer {% endblock%}

{% block content%}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">exporter</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">exporter</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="row">

            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    <form  method="post"  class="form-horizontal form-material" >
                           {% csrf_token %}

                          <div class="form-group">
                            <label class="col-md-12">la classe</label>
                            <div class="col-md-12">
                              <select  name="cls" class="form-control form-control-line">
                              {% for item in classe%}
                             <option value="{{item}}" class="form-control " >{{item}}</option>
                              {% endfor %}
                              </select>
                            </div>
                          </div>



                        <div class="form-group">
                            <div class="col-sm-12">
                              <a href="{% url 'etudiant' %}" class="btn btn-primary">retour</a>
                                <button  type="submit" class="btn btn-success">exporter</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
</div>
{% endblock %}
